<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb-disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,679},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bomb-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,700},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,679},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>controlui-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,198}}</string>
                <key>sourceSize</key>
                <string>{640,198}</string>
            </dict>
            <key>number-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,514},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pause-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,486},{125,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,98}}</string>
                <key>sourceSize</key>
                <string>{125,98}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,386},{125,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,98}}</string>
                <key>sourceSize</key>
                <string>{125,98}</string>
            </dict>
            <key>player-catch-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,386},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>player-catch-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,258},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>player-cry-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,258},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>player-cry-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,130},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>player-eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,386},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>player-eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,410},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{11,12}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>player-happy-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,130},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>player-happy-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>player-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>speed-disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,644},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>speed-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,586},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>time-disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,607},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>time-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,586},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,514},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0484206e12e329ebde2db342bb0b0072:1/1$</string>
            <key>textureFileName</key>
            <string>game.pvr.ccz</string>
        </dict>
    </dict>
</plist>
