<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb-disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1929},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bomb-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1836},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1929},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>controlui-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1636},{640,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,198}}</string>
                <key>sourceSize</key>
                <string>{640,198}</string>
            </dict>
            <key>earth-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{804,794}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,46},{804,794}}</string>
                <key>sourceSize</key>
                <string>{840,840}</string>
            </dict>
            <key>earth-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,824},{810,794}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{810,794}}</string>
                <key>sourceSize</key>
                <string>{840,840}</string>
            </dict>
            <key>earth-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{804,820}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{804,820}}</string>
                <key>sourceSize</key>
                <string>{840,840}</string>
            </dict>
            <key>earth-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{810,820}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,820}}</string>
                <key>sourceSize</key>
                <string>{840,840}</string>
            </dict>
            <key>number-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pause-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1865},{125,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,98}}</string>
                <key>sourceSize</key>
                <string>{125,98}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1897},{125,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,98}}</string>
                <key>sourceSize</key>
                <string>{125,98}</string>
            </dict>
            <key>plant1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1646},{96,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,249}}</string>
                <key>sourceSize</key>
                <string>{96,249}</string>
            </dict>
            <key>plant2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1964},{81,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,124}}</string>
                <key>sourceSize</key>
                <string>{81,124}</string>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{269,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,324}}</string>
                <key>sourceSize</key>
                <string>{269,324}</string>
            </dict>
            <key>rock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1865},{171,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,213}}</string>
                <key>sourceSize</key>
                <string>{171,213}</string>
            </dict>
            <key>rock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1646},{316,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,208}}</string>
                <key>sourceSize</key>
                <string>{316,208}</string>
            </dict>
            <key>rock4.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1646},{513,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,217}}</string>
                <key>sourceSize</key>
                <string>{513,217}</string>
            </dict>
            <key>speed-disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1836},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>speed-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1929},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1836},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>time-disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1865},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>time-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1865},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1865},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6da97103b22fd5f285d83742c4860ed:1/1$</string>
            <key>textureFileName</key>
            <string>level1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
